body {
    margin: 8pt;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 11pt;
}

table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    border-color: #6d6f7b;
    border-style: double;
}

th {
    background-color: #6d6f7b;
    color: white;
    text-align: left;
}

caption {
    font-size: 8pt;
    font-style: italic;
}